<div class="container">
		<h1> CD詳細画面 </h1>

		<%= attachment_image_tag @cd, :jacket_image, :fill, 400, 400, fallback: "no_cd_image.jpg", :size => '400' %>
		<h3><%= @cd.cd_title %></h3>
		<p><%= @cd.artist.artist_name %> <%= @cd.label.cd_label %></p>

		<h5>￥<%= @cd.price %>円</h5>



		<%= form_for @cart_item, url: cart_items_path(cd_id: @cd.id, cart_id: current_user.carts.last.id), method: :post do |f| %>
		<!-- <%= hidden_field :cd_id, @cd.id %> -->
		<%= f.select :product_num, [[1, 1], [2, 2], [3, 3], [4, 4], [5, 5],[6, 6],[7, 7], [8, 8], [9, 9], [10, 10]] %> 枚
		<%= f.submit "カートに入れる"%>
		<% end %>




		<h4>登録情報</h4>
		<table>
			<tr>
				<th>タイトル</th>
				<td><%= @cd.cd_title %></td>
			</tr>
			<tr>
				<th>アーティスト</th>
				<td><%= @cd.artist.artist_name %></td>
			</tr>
			<tr>
				<th>値段</th>
				<td><%= @cd.price %>円</td>
			</tr>
			<tr>
				<th>レーベル</th>
				<td><%= @cd.label.cd_label %></td>
			</tr>
			<tr>
				<th>ジャンル</th>
				<td><%= @cd.genre.cd_genre %></td>
			</tr>
			<tr>
				<th>ディスク</th>
				<td><%= @cd.disc %>枚</td>
			</tr>
			<tr>
				<th>在庫数</th>
				<td><%= @cd.stock %>個</td>
			</tr>
		</table>

		<h4>曲名リスト</h4>

</div>		