<div>

		<h1> 商品一覧 </h1>


<%= search_form_for @search, url: root_path  do |f| %>
  <div class="form-group">
    <%= f.label :cd_title_cont, "🔍" %>
    <%= f.text_field :cd_title_cont, class: "form-control" %>
  </div>
  <div class="actions"><%= f.submit "Search" %></div>
<% end %>

<table>

<% if @result.any? %>
  <%= render @result %>
<% end %>

<% if @result.nil? %>
  <ul class="cds">
    <%= render @cds %>
  </ul>
<% end %>
</table>


</div>