<div class="container">
	<div class="row">
		<div class="center-block">

	<%= search_form_for @search, url: root_path  do |f| %>
	<div class="form-group text-right">
		<%= f.text_field :cd_title_cont%>
		<%= f.submit "search", class: "btn btn-primary"  %>
	<% end %>
	</div>

	<div>
		<table>

			<% if @result.any? %>
			<%= render @result %>
			<% end %>

			<% if @result.nil? %>
			<ul class="cds">
				<%= render @cds %>
			</ul>
			<% end %>

		</table>

	</div>
</div>
</div>
</div>
