

<h1>ユーザー設定</h1>
<%= form_for(current_user) do |f| %>

　　　<div>
		<%= f.attachment_field :profile_image, class: "user_image" %>
　　　</div>


	<p>名前</p>
	<%= f.text_field :name_kanji, class: "name_kanji" %>

	<p>メールアドレス</p>
	<%= f.text_field :email, class: "email" %>

	<p>郵便番号</p>
	<%= f.text_field :postal_code, class: "postal_code" %>

	<p>住所</p>
	<%= f.text_field :address, class: "address" %>

	<p>電話番号</p>
	<%= f.text_field :phone_number, class: "phone_number" %>



<p><%= f.submit '保存' %></p>

<p><%= link_to "戻る", users_path(current_user) %></p>

<% end %>
