<h1> ユーザー一覧</h1>
<table>
	<thead>
		<tr>
			<th>ID</th>
			<th>ユーザー名</th>
			<th>メールアドレス</th>

		</tr>
	</thead>
	<tbody>
	 <% @user.each do |user| %>
		<tr>
			<td><%= user.id %></td>
			<td><%= user.name_kanji %></td>
			<td><%= user.email %></td>
			<td><%=  %></td>
			<td><%=  %></td>
			<td><%=  %></td>
            <td><%= link_to "詳細", admins_user_path(user.id) %></td>
            <td><%= link_to "編集", edit_admins_user_path(user.id) %></td>
            <td><%= link_to "削除", admins_user_path(user.id), method: :delete, data: { confirm: '削除しますか?' } %>

            </td>

		</tr>
	 <% end %>
	</tbody>
</table>
