<h1> ユーザー一覧</h1>


<h1>All users</h1>

<%= search_form_for @search, url: admins_users_path  do |f| %>
  <div class="form-group">
    <%= f.label :name_kanji_cont, "Name" %>
    <%= f.text_field :name_kanji_cont, class: "form-control" %>
  </div>
  <div class="actions"><%= f.submit "Search" %></div>
<% end %>

<table>
 <thead>
    <tr>
      <th>ID</th>
      <th>ユーザー名</th>
      <th>メールアドレス</th>
    </tr>
  </thead>

<% if @result.any? %>
  <%= render @result %>
<% end %>

<% if @result.nil? %>
  <ul class="users">
    <%= render @users %>
  </ul>
<% end %>
</table>

<%= paginate @users %>
