<h1> ユーザー一覧</h1>
<table>
	<thead>
		<tr>
			<th>ID</th>
			<th>ユーザー名</th>
			<th>メールアドレス</th>
			<th>詳細</th>
			<th>編集</th>
			<th>消去</th>

		</tr>
	</thead>
	<tbody>
	 <% @user.each do |user| %>
		<tr>
			<td><%= user.id %></td>
			<td><%= user.name_kanji %></td>
			<td><%= user.email %></td>
			<td><%=  %></td>
			<td><%=  %></td>
			<td><%=  %></td>

		</tr>
	 <% end %>
	</tbody>
</table>
