<div>
	<h2>マイページ</h2>

	<%= attachment_image_tag @user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg" %>
	<ul>
		<li><%= @user.name_kanji %></li>
		<li><%= @user.name_kanji %></li>

		<li><%= @user.email %></li>
		<li><%= @user.postal_code %></li>
		<li><%= @user.address %></li>
		<li><%= @user.phone_number %></li>
	</ul>

</div>