<h1>編集画面</h1>
<%= form_for (@cd), url: admins_cd_path(@cd.id) do |f| %>
<p><%= f.attachment_field :jacket_image %></p>
    <table>
    <tr>
    	<td>タイトル</td>
        <td><%= f.text_field :cd_title %></td>
    </tr>
    <tr>
    	<td>アーティスト</td>
        <td><%= f.collection_select :artist_id, Artist.all, :id, :artist_name %></td>
    </tr>
    <tr>
    	<td>値段</td>
        <td><%= f.text_field :price %></td>
    </tr>
    <tr>
    	<td>レーベル</td>
        <td><%= f.collection_select :label_id, Label.all, :id, :cd_label %></td>
    </tr>
    <tr>
    	<td>ジャンル</td>
        <td><%= f.collection_select :genre_id, Genre.all, :id, :cd_genre %></td>
    </tr>
    <tr>
    	<td>在庫数</td>
        <td><%= f.text_field :stock %></td>
    </tr>
    <tr>
    	<td>管理人から一言</td>
        <td><%= f.text_field :recommended %></td>
    </tr>
    <tr>
    	<td>ディスク</td>
        <td><%= f.select :disc, [["1", "1"], ["2", "2"], ["3", "3"], ["4", "4"]]%></td>
    </tr>
    <tr>
        <td>曲名</td>
        <td><%= f.text_area :song %></td>
    </tr>
    <tr>
    	<td><%= f.submit '保存' %></td>
    </tr>
<% end %>