<h1> CD詳細画面　</h1>

<%= attachment_image_tag @cd, :jacket_image, :fill, 100, 100, fallback: "no_image.jpg" %>
	<ul>
		<li><%= @cd.cd_title %></li>
		<li><%= @cd.artist_id %></li>
		<li><%= @cd.price %></li>
		<li><%= @cd.label_id %></li>
		<li><%= @cd.genre_id %></li>
		<li><%= @cd.disc %></li>
		<li><%= @cd.stock %></li>
		<li><%= @cd.recommendedgit %></li>

	</ul>