<h1> 商品の新規追加 </h1>
<%= form_for (@cd), url: admins_cds_top_path do |f| %>

<h4>画像</h4>
 <%= f.attachment_field :jacket_image %>


<h4>タイトル</h4>
<%= f.text_field :cd_title %>

<h4>genre</h4>
<%= f.collection_select :genre_id, Genre.all, :id, :cd_genre %>

<h4>アーティスト</h4>
<%= f.collection_select :artist_id, Artist.all, :id, :artist_name %>
<h4>値段</h4>
<%= f.text_field :price %>
<h4>レーベル名</h4>
<%= f.collection_select :label_id, Label.all, :id, :cd_label %>
<h4>ディスク枚数</h4>
<%= f.select :disc, [["1", "1"], ["2", "2"], ["3", "3"], ["4", "4"]]%>
<h4>在庫数</h4>
<%= f.text_field :stock %>


<table class="table table-striped table-bordered table-hover">
        <tbody>
            <tr>
               <th>ディスク1</th>
               <th>Action</th>
            </tr>
            <%= f.nested_fields_for :songs, wrapper_tag: :tr do |q| %>
                <td><%= q.text_field   :song_title,     class: 'form-control' %></td>
                <td><%= q.remove_nested_fields_link 'Delete', class: 'btn btn-danger', role: 'button' %></td>
            <% end %>
        </tbody>
</table>
      <%= f.add_nested_fields_link :roomtypes, 'Add new', class: 'btn btn-primary', role: 'button' %>



<p><%= f.submit '投稿' %></p>

<% end %>
