<h1> 商品の新規追加 </h1>
<%= form_for (@cd), url: admins_cds_top_path do |f| %>

<h4>タイトル</h4>
<%= f.text_field :cd_title %>
<h4>アーティスト</h4>
<%= f.select :artist_id, [["嵐", "嵐"], ["嵐", "嵐"], ["嵐", "嵐"], ["嵐", "嵐"]]%>
<h4>値段</h4>
<%= f.text_field :price %>
<h4>レーベル名</h4>
<%= f.select :label_id, [["アルケナ", "アルケナ"], ["アニプックス", "アニプックス"], ["アリスタ", "アリスタ"], ["カートユニオン", "カートユニオン"], ["アトココ", "アトココ"], ["その他", "その他"]]%>
<h4>ディスク枚数</h4>
<%= f.select :disc, [["1", "1"], ["2", "2"], ["3", "3"], ["4", "4"]]%>
<h4>在庫数</h4>
<%= f.text_field :stock %>

<%= f.submit '投稿' %>

<% end %>
