<!DOCTYPE html>
<html>
<head>
 <title>Flap</title>
 <%= csrf_meta_tags %>
 <%= csp_meta_tag %>

 <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
 <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>


<header class="ticky-top navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav class='nav navbar-nav navbar-left' >
     <p><%= link_to "　Flap", root_path, style:"font-size: 50px;" %></p>
   </nav>

   <nav>
     <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
      <li>
       <%= link_to "My Page", user_path(current_user)  %>
     </li>

     <li><%= link_to "Cart", user_cart_path(current_user.carts) %></li>

     <li>
       <%= link_to "Logout", destroy_user_session_path, method: :delete %>
     </li>

     <p class="user_type"><%= current_user.name_kanji %></p>

     <% else %>

     <li>
      <%= link_to " sign up", new_user_registration_path %>
    </li>
    <li>
      <%= link_to " login", new_user_session_path %>
    </li>
    <% end %>
  </ul>
</nav>
</div>
</header>

<body class="body_type">
 <%= yield %>
</body>

<footer class="footer">
  <div class="container">
    <p class="text-muted"><% if user_signed_in? %>
      <h4 class="footer_type">会社概要</h4>
      <ul class="footer_type">
       <li>社名</li>
       <li>住所</li>
       <li>メールアドレス</li>
       <li>電話番号</li>
     </ul>
     <h5><%= link_to "退会", user_registration_path, method: :delete, "data-confirm" => "削除しますか?" %></h5>
     <% else %>
     <h4 class="footer_type">会社概要</h4>
     <ul class="footer_type">
       <li>社名</li>
       <li>住所</li>
       <li>メールアドレス</li>
       <li>電話番号</li>
     </ul>
     <% end %>
   </p>
 </div>
</footer>

</html>