<!DOCTYPE html>
<html>
<head>
 <title>Flap</title>
 <%= csrf_meta_tags %>
 <%= csp_meta_tag %>

 <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
 <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>


<header>
 <div>
   <nav>
     <h2><%= link_to "Flap", root_path %></h2>
   </nav>

   <nav>
     <ul>
      <% if user_signed_in? %>
       <li>
         <%= link_to "My Page", user_path(current_user)  %>
       </li>
       <li>
         <%= link_to "Genre", index_genre_path %>
       </li>
       <li>
         <%= link_to "Logout", destroy_user_session_path, method: :delete %>
       </li>

       <P><%= link_to "Cart", carts_path %></P>

       <p><%= current_user.name_kanji %></p>

       <% else %>

       <li>
          <%= link_to " sign up", new_user_registration_path %>
        </li>
        <li>
          <%= link_to " login", new_user_session_path %>
        </li>
        <% end %>
     </ul>
 </nav>
</div>
</header>

<body>
 <%= yield %>
</body>

<footer>
  <% if user_signed_in? %>
       <h4>会社概要</h4>
       <ul>
         <li>社名</li>
         <li>住所</li>
         <li>メールアドレス</li>
         <li>電話番号</li>
       </ul>
       <%= link_to "退会", user_registration_path, method: :delete, "data-confirm" => "削除しますか?" %>
       </li>
       <% else %>
       <h4>会社概要</h4>
       <ul>
         <li>社名</li>
         <li>住所</li>
         <li>メールアドレス</li>
         <li>電話番号</li>
       </ul>
     <% end %>
</footer>

</html>